<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Cadastrar Denúncia</h2>
        </div>
        <div class="card-body">
            <!-- Exibe a mensagem de erro, caso exista -->
            <% if (typeof message !== 'undefined' && message) { %>
                <div class="alert alert-warning">
                    <h4 class="alert-heading">Aviso</h4>
                    <p><%- message %></p>
                </div>
            <% } %>

            <form method="post" action="/denuncia/registrar">
                <input class="form-control" type="number" name="year" value="<%= year %>" readonly><br>
                
                <input class="form-control" type="number" name="number" value="<%= lastNumber %>" readonly><br>
                
                <select class="form-control" name="registration_type" id="registration_type">
		    <% for (let key in DENUNCIATION_SENDER) { %>
		        <option value="<%= key %>"><%= DENUNCIATION_SENDER[key] %></option>
		    <% } %>
		</select><br>
                
                <input class="form-control" type="text" name="title" placeholder="Título" required><br>

                <input class="form-control" type="text" name="endereco" placeholder="Nome da Rua" required><br>
            
                <input class="form-control" type="text" name="numero" placeholder="Número do Endereço" required><br>
            
                <input class="form-control" type="text" name="bairro" placeholder="Bairro" required><br>
                
                <textarea class="form-control" name="description" placeholder="Descrição" rows="4" required></textarea><br>
            
                <button class="btn btn-success">Cadastrar</button>
            </form>
        </div>  
    </div>
</div>
<br>
<script>
    function validateForm() {
        const form = document.querySelector('form');
        const requiredFields = form.querySelectorAll('[required]');
        let isValid = true;
    
        requiredFields.forEach(field => {
            if (!field.value.trim()) {
                isValid = false;
                field.style.border = '1px solid red'; // Destaca o campo vazio
            } else {
                field.style.border = ''; // Remove o destaque se preenchido
            }
        });
    
        if (!isValid) {
            alert('Preencha todos os campos obrigatórios!');
            return false; // Impede o envio do formulário
        }
        return true; // Permite o envio
    }
</script>
<%- include('../partials/footer.ejs') %>
